# Set and Set Theory

## Python's built-in set type has following characteristics

https://docs.python.org/3/tutorial/datastructures.html#sets

Note:-

- Sets are unordered
- Sets elements are unique. Duplicate elements are not allowed
- A set itself may be modified, but the elements contained in the set must be of an immutable type.

## Basic syntax for creating sets

Note:-

- Basically set can be create by two ways, first by using built-in function`set()` and second by asigning double curly  braces`{}`
- Set can be created by only passing iterable object to set as a argument. eg: list, tuple and string 

- Empty set can only created by using the built-in set() function not by using double curly braces

### Create set by passing list to set function

In [4]:
integer_set = set([1, 2, 3, 4, 5])

integer_set

{1, 2, 3, 4, 5}

In [5]:
type(integer_set)

set

### Create set by passing tuple to set function

In [6]:
float_set = set((1.1, 2.2, 3.3, 4.4, 5.5))

float_set

{1.1, 2.2, 3.3, 4.4, 5.5}

### Create set by passing string to set function

Sets can be created using iterables, since a string is an iterable it can be used to create sets

In [7]:
character_set = set('India')

character_set

{'I', 'a', 'd', 'i', 'n'}

### Create set by using curly braces

In [10]:
states_set = {'California', 'Texas', 'Florida', 'Alaska'}

states_set

{'Alaska', 'California', 'Florida', 'Texas'}

### Empty set

Note:- Empty set can't be create by double curly braces because this syntax reserve for empty dictionary

In [11]:
empty_set = set()

empty_set

set()

In [12]:
y = {}

y

{}

In [13]:
type(y)

dict

### Set can contain data of different types

In [15]:
numbers_set = {0, 1, (2 ,3, 4), 5, 2.718}

numbers_set

{(2, 3, 4), 0, 1, 2.718, 5}

In [16]:
cities_codes = {"New York", "San Francisco", "Boston", "Los Angeles", 90210, 10011}

cities_codes

{10011, 90210, 'Boston', 'Los Angeles', 'New York', 'San Francisco'}

In [38]:
len(cities_code)

5

### Sets cannot contain duplicates

In [18]:
characters_set = set('malayalam')

characters_set

{'a', 'l', 'm', 'y'}

Note that lowercase and capital letters are considered different and unique

In [19]:
characters_set = set('United States')

characters_set

{' ', 'S', 'U', 'a', 'd', 'e', 'i', 'n', 's', 't'}

In [20]:
names_set = {'Jonas', 'Kevin', 'Louise', 'Maureen', 'Kevin'}

names_set

{'Jonas', 'Kevin', 'Louise', 'Maureen'}

In [21]:
names_set.add('Norma')

names_set

{'Jonas', 'Kevin', 'Louise', 'Maureen', 'Norma'}

In [22]:
names_set.add('Jonas')

names_set

{'Jonas', 'Kevin', 'Louise', 'Maureen', 'Norma'}

## Sets Operations

### Union

In [50]:
states_set_01 = {'Washington', 'Minnesota', 'Utah', 
                 'New Hampshire', 'ldaho', 'Michigan'}

states_set_01

{'Michigan', 'Minnesota', 'New Hampshire', 'Utah', 'Washington', 'ldaho'}

In [51]:
len(states_set_01)

6

In [52]:
states_set_02 = {'California', 'Texas', 'Minnesota', 
                 'Massachusetts', 'Colorado', 'Utah', 
                 'Florida', 'Michigan'}

states_set_02

{'California',
 'Colorado',
 'Florida',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Texas',
 'Utah'}

In [53]:
len(states_set_02)

8

### Calculate set_01 union set_02 using method

Note:- sets don't contain duplicate values

In [54]:
states_union = states_set_01.union(states_set_02)

states_union

{'California',
 'Colorado',
 'Florida',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'New Hampshire',
 'Texas',
 'Utah',
 'Washington',
 'ldaho'}

In [55]:
len(states_union)

11

### Calculate set_01 union set_02 using operator

In [56]:
states_union = states_set_01 | states_set_02

states_union

{'California',
 'Colorado',
 'Florida',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'New Hampshire',
 'Texas',
 'Utah',
 'Washington',
 'ldaho'}

In [57]:
numbers_01 = [i for i in range(0, 10)]

numbers_01

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
set_01 = set(numbers_01)

set_01

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [59]:
numbers_02 = [i for i in range(0, 20, 2)]

numbers_02

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
set_02 = set(numbers_02)

set_02

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [61]:
print(f'Union of two sets: {set_01 | set_02}')

Union of two set: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

### A union B == B union A

In [67]:
print(f'Union of two sets: {set_02 | set_01}')

Union of two set: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}

### A union A = A

In [84]:
print(f'Union of two sets: {set_01 | set_01}')

Union of two sets: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Intersection

### Using method

In [62]:
cs_topics_set_01 = {'C', 'C++', 'Java', 'DBMS'}

cs_topics_set_01

{'C', 'C++', 'DBMS', 'Java'}

In [63]:
cs_topics_set_02 = {'Java', 'Python', 'Machine Learning', 'Data Structures', 'DBMS'}

cs_topics_set_02

{'DBMS', 'Data Structures', 'Java', 'Machine Learning', 'Python'}

### A intersection B == B intersection A

In [68]:
cs_topics = cs_topics_set_01.intersection(cs_topics_set_02)

cs_topics

{'DBMS', 'Java'}

In [69]:
cs_topics = cs_topics_set_02.intersection(cs_topics_set_01)

cs_topics

{'DBMS', 'Java'}

### Using Operator

In [70]:
cs_topics_set_01 & cs_topics_set_02

{'DBMS', 'Java'}

In [71]:
cs_topics_set_02 & cs_topics_set_01

{'DBMS', 'Java'}

### A intersection A = A

In [85]:
cs_topics_set_01 & cs_topics_set_01

{'C', 'C++', 'DBMS', 'Java'}

### Difference between sets

In [72]:
states_set_01

{'Michigan', 'Minnesota', 'New Hampshire', 'Utah', 'Washington', 'ldaho'}

In [73]:
states_set_02

{'California',
 'Colorado',
 'Florida',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Texas',
 'Utah'}

In [76]:
states_diff_set = states_set_01.difference(states_set_02)

states_diff_set

{'New Hampshire', 'Washington', 'ldaho'}

In [77]:
states_diff_set = states_set_02.difference(states_set_01)

states_diff_set

{'California', 'Colorado', 'Florida', 'Massachusetts', 'Texas'}

In [78]:
cs_topics_set_01

{'C', 'C++', 'DBMS', 'Java'}

In [79]:
cs_topics_set_02

{'DBMS', 'Data Structures', 'Java', 'Machine Learning', 'Python'}

In [80]:
cs_topics_set_01 - cs_topics_set_02

{'C', 'C++'}

In [81]:
cs_topics_set_02 - cs_topics_set_01

{'Data Structures', 'Machine Learning', 'Python'}

In [82]:
cs_topics_set_01 - cs_topics_set_01

set()

### Symmetric difference 

Note: - Only elements which are common between the two sets will be removed from the union of the two sets

In [88]:
states_set_01.symmetric_difference(states_set_02)

{'California',
 'Colorado',
 'Florida',
 'Massachusetts',
 'New Hampshire',
 'Texas',
 'Washington',
 'ldaho'}

In [89]:
(states_set_01 | states_set_02) - (states_set_01 & states_set_02)

{'California',
 'Colorado',
 'Florida',
 'Massachusetts',
 'New Hampshire',
 'Texas',
 'Washington',
 'ldaho'}

In [94]:
cs_topics_set_01 ^ cs_topics_set_02

{'C', 'C++', 'Data Structures', 'Machine Learning', 'Python'}

### A symmetric difference B == B symmetric difference A

In [95]:
cs_topics_set_02 ^ cs_topics_set_01

{'C', 'C++', 'Data Structures', 'Machine Learning', 'Python'}

In [96]:
(cs_topics_set_01 | cs_topics_set_02) - (cs_topics_set_01 & cs_topics_set_02)

{'C', 'C++', 'Data Structures', 'Machine Learning', 'Python'}

### Disjoint sets

Sets are disjoint if they do not have any elements in common. Is disjoint will return true for disjoint sets

In [97]:
cs_topics_set_01.isdisjoint(cs_topics_set_02)

False

In [98]:
cs_topics_set_01.isdisjoint(states_set_02)

True

## Check Subset

Subject :- In set theory, a set **A** said to be subject of **B** if every element of **A** present in **B**

In [107]:
integers = [i for i in range(1, 6)]

integers

[1, 2, 3, 4, 5]

In [108]:
A = set(integers)

A

{1, 2, 3, 4, 5}

In [109]:
more_integers = [n for n in range(-3, 7)]

more_integers

[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

In [110]:
B = set(more_integers)

B

{-3, -2, -1, 0, 1, 2, 3, 4, 5, 6}

#### By method

In [111]:
A.issubset(B)

True

In [112]:
B.issubset(A)

False

Note:- a set can be subset of itsef

In [113]:
A.issubset(A)

True

In [114]:
B.issubset(B)

True

#### By operator

is A subset of B?

In [115]:
A <= B

True

Is B is subset of A?

In [116]:
B <= A

False

In [117]:
A <= A

True

### Proper subset

Proper Subset:- A proper subset is the same as a subset, except that thes can't be identical. A set **A** is consider to be a proper subset of another set **B** if every element of **A** is in **B** and **A** and **B** are not identical.

Note:- The operator **<** is the only way to test whether a set is a proper or not? there isn't no corresponding method.

In [118]:
A < B

True

In [119]:
B < A

False

In [120]:
A < A

False

In [121]:
B < B

False

### Superset 

Superset:- A superset is the reverse of subset. A set **A** is consider to be superset of another set **B** if **A** contains every element of **B**

In [125]:
A = {'C', 'C++', 'C#', 'Java', 'Python', 
     'R', 'Visual Basic', 'JavaScript', 
     'PHP', 'Swift', 'Go', 'Ruby'}

In [126]:
B = {'Java', 'Python', 'R', 'JavaScript', 'Swift'}

In [134]:
C = {'C', 'C++', 'Java', 'R', 'Machine Learning', 'Data Science'}

#### By using method

In [135]:
A.issuperset(B)

True

In [136]:
A.issuperset(C)

False

In [137]:
A.issuperset(A)

True

#### By using operator

In [138]:
A >= B

True

In [139]:
A >= C

False

In [140]:
B >= A

False

In [141]:
A >= A

True

### Proper superset

Proper Superset:- A Proper Superset is the same as a superset, except that the sets can't be identical. A set **A** is considered to a proper superset of anohter set **B** if **A** contains every of **B** and **A** and **B** are not equal.

Note:- The operator > is the only way to test whether a set is a proper superset or not there is no corresponding method.

In [142]:
A > B

True

In [143]:
A > C

False

In [144]:
A > A

False

In [145]:
B > B

False

### Union update

In [147]:
A = set([i for i in range(1, 5)])

A

{1, 2, 3, 4}

In [148]:
B = set([i for i in range(-2, 3)])

B

{-2, -1, 0, 1, 2}

In [151]:
A.update(B)

A

{-2, -1, 0, 1, 2, 3, 4}

### Intersection update

In [154]:
B

{-2, -1, 0, 1, 2}

In [155]:
C = set([i for i in range(-5, 0)])

C

{-5, -4, -3, -2, -1}

In [157]:
B.intersection_update(C)

B

{-2, -1}

### Difference update

In [158]:
C

{-5, -4, -3, -2, -1}

In [159]:
A

{-2, -1, 0, 1, 2, 3, 4}

In [160]:
C.difference_update(A)

C

{-5, -4, -3}

### Operations with update

In [161]:
A = {"Apple", "HP", "Lenovo", "Dell", "Acer", "Samsung"}

In [162]:
B = {"Apple", "Xiaomi", "Lenovo"}

In [163]:
C = {"Samsung", "Xiaomi", "Acer"}

In [166]:
A |= B

A

{'Acer', 'Apple', 'Dell', 'HP', 'Lenovo', 'Samsung', 'Xiaomi'}

#### intersection update

In [167]:
B &= C

B

{'Xiaomi'}

#### Symmetric difference update

In [168]:
A ^= C

A

{'Apple', 'Dell', 'HP', 'Lenovo'}